body {
  background-color: #ffffff;
  color: #000000;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}


.text-style-input {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.text-style-button {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

button {
  padding: 8px 20px;
  background-color: #000000;
  border-style: none;
  border-radius: 10px;
}

input {
  height: 42px;
  border-radius: 10px;
}